.Conteiner {
    //   margin: 10vh 10%;
    height: 25vh;
    background-color: #e9ecef;
    padding: 5%;
    .avatar {
        margin: 5% auto;
        width: 60;
        height: 60;
        justify-content: center;
    }
    .c {
        text-align: center;
    }
    p {
        text-align: center;
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
        color: #666;
        margin-bottom: 0;
        letter-spacing: 0.5px;
        word-spacing: 1px;
        font-family: "Open sans", sans-serif;
        justify-content: center;
    }
}